Uol2010GestioneXsd/xsd/servlet/banco/home.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="MxServlet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="cascadeMenu">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="menu">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="menu" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="menu">
                                                  <xs:complexType>
                                                  <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="id" type="xs:string"/>
                                                  <xs:attribute name="class" fixed="Bar"
                                                  type="class_type"/>
                                                  <xs:attribute name="title" type="xs:string"/>
                                                  <xs:attribute name="cmd" type="xs:string"/>
                                                  <xs:attribute name="menu" type="xs:string"/>
                                                  </xs:extension>
                                                  </xs:simpleContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute fixed="menuBar" name="id"
                                                  type="id_type"/>
                                                <xs:attribute fixed="menuBar" name="class"
                                                  type="class_type"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" fixed="menuDis" type="id_type"/>
                                    <xs:attribute name="class" fixed="menuDis" type="class_type"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="title" type="xs:string"/>
                <xs:element minOccurs="0" name="styleSheets">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="styleSheet" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="javaScripts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element fixed="" maxOccurs="unbounded" name="javaScript"
                                type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="anagrafica"/>
                <xs:group ref="groupHome"/>
                <xs:element minOccurs="0" name="msgErr" type="xs:string"/>
                <xs:element minOccurs="0" name="sqlError" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="id_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:enumeration value="menuBar"/>
            <xs:enumeration value="menuDis"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="class_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="menuBar"/>
            <xs:enumeration value="menuDis"/>
            <xs:enumeration value="Bar"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="groupHome">
        <xs:choice>
            <xs:element name="home">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="RichiesteXml"/>
                        <xs:element minOccurs="0" ref="MessageError"/>
                        <xs:choice>
                            <xs:element name="show">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="datiBibliografici"/>
                                        <xs:element name="servizio" maxOccurs="unbounded"
                                            minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="ID"/>
                                                  <xs:attribute name="sospeso" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation xml:lang="it">Viene utilizzato per indicare se il servizio è sospeso per l'utente interessato</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  <xs:attribute name="scaduto" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Viene utilizzato per indicare se il servizio è scaduto per l'utente interessato</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MessageError"/>
                        <xs:element minOccurs="0" name="changePwd">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="_loginAuthentication_"/>
                                    <xs:element name="_passwordAuthentication"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parola"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="parametri">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="parametro">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                  <xs:attribute name="key"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="richieste">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="datiBibliografici"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="risultatoControlli">
                            <xs:annotation>
                                <xs:documentation>Questo nodo viene utilizzato per gestire la lista degli errori risultanti dal controlli fati.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="ID" type="xs:int">
                                            <xs:annotation>
                                                <xs:documentation>Codice identificativo del controllo</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="bloccante" type="xs:boolean">
                                            <xs:annotation>
                                                <xs:documentation>Questo attributo viene utilizzato per indicare se il controllo risulta essere bloccante</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element ref="RichiesteXml"/>
                        <xs:element minOccurs="0" ref="MessageError"/>
                        <xs:choice>
                            <xs:element name="show">
                                <xs:complexType>
                                    <xs:group ref="groupDateRichiesta"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="write">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:group ref="groupDateRichiesta"/>
                                        <xs:element name="noteUtente" type="xs:string"/>
                                        <xs:element name="notificaStatoRichiesta" type="xs:string"/>
                                        <xs:element name="emailStatoRichiesta" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="bloccante" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:element name="anagrafica">
        <xs:annotation>
            <xs:documentation xml:lang="it">Gestione informazioni generali relative all'anagrafica dell'utente</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cognomeNome">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="ID" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="datiBibliografici">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="autore" type="xs:string"/>
                <xs:element name="titolo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RichiesteXml" type="xs:string"/>
    <xs:element name="MessageError" type="xs:string"/>
    <xs:group name="groupDateRichiesta">
        <xs:sequence>
            <xs:element name="dataRichiesta" type="xs:date"/>
            <xs:element name="dataConsegna" type="xs:date"/>
            <xs:element name="dataRiconsegna" type="xs:date"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
